*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
  background: -webkit-linear-gradient(127deg, rgb(99, 64, 240), rgb(240, 35, 195));
  min-height: 80vh;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.logo{
    font-size: 1.5rem;
    margin: 0.5rem 5rem;
    font-family: 'Roboto', sans-serif;
    color: white;
}


.nav-list ul{
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-list li{
    list-style: none;
}

.nav-list li a{
    font-family: 'Ruda', sans-serif;
    text-decoration: none;
    padding: 1rem;
    display: block;
    color:white;
}

.nav-list li a:hover{
    border-bottom: solid 1px white;
    
}

/*hamburger menu*/
.toogle-button{
    position: absolute;
    top: 0.75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 31px;
    height: 21px;
}

.toogle-button .button-lines{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}


/*landing page*/
main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 3rem;
}

.left{
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    color: white;
    margin-left: 2rem;
}



.right img{
  max-width: 70vh;
  margin:auto


}



/*Skills Section*/

#skills{
    margin-top: 2rem;
}


#skills h2{
    text-align: center;
    font-size: 2rem;
    font-family: 'Ruda', sans-serif;
    color: #6665ee;
    
}

.skill-bars{
  padding: 25px 30px;
  max-width: 900px;
  margin: auto;
  font-family: 'Ruda', sans-serif;
}
.skill-bars .bar{
  margin: 20px 0;
}
.skill-bars .bar:first-child{
  margin-top: 0px;
}
.skill-bars .bar .info{
  margin-bottom: 5px;
}
.skill-bars .bar .info span{
  font-weight: 500;
  font-size: 17px;
  opacity: 0;
  animation: showText 0.5s 1s linear forwards;
}
@keyframes showText {
  100%{
    opacity: 1;
  }
}
.skill-bars .bar .progress-line{
  height: 10px;
  width: 100%;
  background: #f0f0f0;
  position: relative;
  transform: scaleX(0);
  transform-origin: left;
  border-radius: 10px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.05),
              0 1px rgba(255,255,255,0.8);
  animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}
@keyframes animate {
  100%{
    transform: scaleX(1);
  }
}
.bar .progress-line span{
  height: 100%;
  position: absolute;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  background: #6665ee;
  animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
}
.bar .progress-line.html span{
  width: 90%;
}
.bar .progress-line.css span{
  width: 80%;
}
.bar .progress-line.javascript span{
  width: 60%;
}
.bar .progress-line.react span{
  width: 30%;
}
.bar .progress-line.vue span{
  width: 25%;
}
.progress-line span::before{
  position: absolute;
  content: "";
  top: -10px;
  right: 0;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #000;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
.progress-line span::after{
  position: absolute;
  top: -28px;
  right: 0;
  font-weight: 500;
  background: #000;
  color: #fff;
  padding: 1px 8px;
  font-size: 12px;
  border-radius: 3px;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
@keyframes showText2 {
  100%{
    opacity: 1;
  }
}
.progress-line.html span::after{
  content: "90%";
}
.progress-line.css span::after{
  content: "80%";
}
.progress-line.javascript span::after{
  content: "60%";
}
.progress-line.react span::after{
  content: "30%";
}
.progress-line.vue span::after{
  content: "25%";
}


/*contact section*/


footer{
    background:  rgb(99, 64, 240);
    font-family: 'Ruda', sans-serif;
    color: white;
}

footer h2{
    text-align: center;
    font-size: 2rem; 
}

.flex{
    display: flex;
    justify-content: space-around;
}


.textbox{
    border-radius: 5px;
    border: solid 2px white;
    max-width: 58vh;
    max-height: 2rem;
}

.textarea{
  border-radius: 5px;
}

#contact{
  padding-top: 1rem;
}

form{
    margin-left: 4rem;
    margin-bottom: 3rem;
}

.submit-button{
    background-color: transparent;
    border: solid 2px white;
    border-radius: 5px;
    color: white;
    padding: 0.5rem 1rem;
    
}


.side i{
    font-size: 2rem;
    color: white;
}

.number i{
  margin-top: 2rem;
  font-size: 1.5rem;
}



@media (max-width: 900px) {

    header{
      width: 100%;
      
    }


    .logo{
      margin: 1rem;
    }
  

    .toogle-button{
        display: flex;
       
    }

    .nav-list{
        width: 100%;
        display: none;
    }
    
    .nav-list ul{
        flex-direction: column;
        width: 100%;
    }

    .nav-list li{
        text-align: center;
    }

    .nav-list li a{
        padding: 0.5rem 1rem;
    }


    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }

    
.nav-list li a:hover{
    background-color: white;
    color: violet;
    
}


    .nav-list.active{
        display: flex;
        transition: display 2s;
    }


    main{
        flex-direction: column;
        width: 100%;
      
    }

    .left{
        margin-left: 3rem;
        font-size: 1.5rem;
    }

    .right img{
        margin-top: 1.5rem;
        min-height: 20vh;
        min-width: 10vh;
    }

    #skills h2{
      font-size: 1.5rem;
    }

    #contact{
      padding-top: 1rem;
    }

    .flex{
        flex-direction: column;
    }

    footer h2{
      font-size: 1.5rem;
    }


    .side{  
        margin-left: 3.7rem;
        margin-bottom: 3rem;
    }
    
    

    .number i{
      margin-top: 1rem;
      font-size: 1rem;
    }
    



}